### Upsampling
### Downsampling

In [2]:
import numpy as np
import pandas as pd
np.random.seed(123)

### create a dataset with two classes

In [7]:
n_samples= 1000
class_0_ratio=0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [8]:
(n_class_0,n_class_1)

(900, 100)

### create data frame with imbalanced dataset

In [19]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [22]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [23]:
df.head()

   feature_1  feature_2  target
0   0.435123   0.621172       0
1  -0.773493  -0.744282       0
2   0.813067  -0.656852       0
3  -0.279205   0.554107       0
4   1.472848   0.006833       0

In [24]:
df.tail()

     feature_1  feature_2  target
995   1.119557   4.050429       1
996   2.072417   3.487502       1
997  -0.178365   3.494476       1
998   2.812543   2.430121       1
999   3.774685   2.823641       1

In [26]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

### UpSampling

In [27]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [28]:
from sklearn.utils import resample

In [34]:
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [35]:
df_minority_upsampled.shape

(900, 3)

In [36]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

### DownSampling

In [37]:
np.random.seed(123)
n_samples= 1000
class_0_ratio=0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [39]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [40]:
df_majority_downsampled=resample(df_majority,replace=False,n_samples=len(df_minority),random_state=42)

In [41]:
df_majority_downsampled.shape

(100, 3)

In [45]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])
df_downsampled['target'].value_counts()

1    100
0    100
Name: target, dtype: int64

#### When we use downsample we tend to loose data. so its better to use upsampling